<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<title>Look for your file</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
<link rel="styleshhet" href="/public/css/bootstrap.min.css">
<!-- Steps -->
</head>
<body>
    <div class="container">    
      <div class="col-md-12">  
          <form class="form-horizontal" method="POST" action="/word/find" enctype="application/x-www-form-urlencoded">
              <fieldset>
                  <legend>What are you looking for?</legend>
                    <div class="form-group">
                        <div class="col-md-9">
                          <input id="name" name="name" type="text" placeholder="Write a key Word" class="form-control input-md" required="">
                        </div>
                        <div class="col-md-2 col-md-offset-1">
                            <button class="btn btn-primary nextBtn pull-right" type="submit" >Search</button>
                        </diV>
                  </div>                  
              </fieldset>
          </form>
      </div>
      <div class="col-md-12">  
          <legend>
            <%  if(result.length>0) {%>WORD: <%=result[0].word %><% } else {%>Nothing was found<% }%>
          </legend>
          <table class="table">
            <thead class="thead-default">
              <tr>
                <th>#id</th>
                <th>Doc Name</th>
                <th>Word Frequency</th>
              </tr>
            </thead>
            <tbody>
               <% for(var i=0; i<result.length; i++) {  %>
               <% 
               docname = result[i].doc.replace(/\s+/g, '');
               var link = 'http://10.131.137.188'+ docname%>
                <tr>
                  <td><%= i %></td> 
                  <th scope="row"> <a href='<%= link %>' > <%= result[i].doc %> </a></th>
                  <td><%= result[i].count %></td>                       
                </tr>                            
              <% } %>
            </tbody>
          </table>
      </div>
    </div>
  
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>