<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<body>
    <%-include('partials/navbar') %>
    <%-include('partials/options') %>
    <div class="container">    
     <%-include('partials/content') %>   
    <hr> 
           
    </div>
    <%- include('partials/footer') %> 
    <!-- /container -->
   
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>